:root {
  --one-text-color: #757575;
  --two-text-color:#212121;
  --accent-color:#2196F3;
  --two-accent-color:#ffffff;
  --transition-timing: 250ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}

ul {
  list-style: none;
}

.link {
  text-decoration: none;
}

.body {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--one-text-color);
}

body.is-modal-shown, body.is-menu-shown {
  overflow: hidden;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header__container {
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .header__container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    width: 1200px;
  }
}

.distribution,
.team,
.clients,
.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .distribution,
.team,
.clients,
.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .benefits {
    padding-bottom: 0px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.title {
  font-weight: 700;
  color: var(--two-text-color);
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
}

.span {
  color: var(--two-text-color);
}

.subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--two-text-color);
}

.button {
  display: block;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  color: var(--two-accent-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  -webkit-transition: background-color var(--transition-timing) var(--transition-function);
  transition: background-color var(--transition-timing) var(--transition-function);
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--accent-color);
}

.products__heading {
  margin-bottom: 70px;
}

.products__ellipsis {
  position: absolute;
  width: 26px;
  top: 227px;
  left: 130px;
}

.products__block {
  position: relative;
  text-align: center;
  padding: 160px 40px 40px;
  margin-top: 140px;
  width: 280px;
  border-radius: 24px;
}

.products__cream {
  background-color: #FFB8CA;
}

.products__coffee {
  background-color: #F0D1A5;
}

.products__milkshakes {
  background-color: #C2E297;
}

.products__image {
  position: absolute;
  top: -138px;
  left: 6px;
}/*# sourceMappingURL=main.css.map */