// .distribution{

// &__image{
//     display: flex;
//     flex-wrap: wrap;
//     padding-left: 0;
//     margin-top: 0;
//     margin-bottom: 0;
// }
// &__item{
//     position: relative;
    
// }
// &__caption{
//     position: absolute;
//     display: flex;
//     width: 100%;
//     height: 70px;
//     bottom: 3px;
//     left: 0;
//     margin: 0;

//     font-weight: 700;
//     align-items: center;
//     justify-content: center;
//     text-transform: uppercase;

//     background-color: rgba(47, 48, 58, 0.8);
//     color: var(--two-accent-color);
// }
// }