.footer{
&__container{ 
    padding-top: 60px;
    padding-bottom: 60px;
    background-color:  #2F303A;
  
   
    @include mq(desktop){
        display: flex;
        align-items: baseline;
    }
    
}



&__coordinates{
    @include mq(not-desktop){
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
        }

    @include mq(desktop){
        &:not(:last-child){
        margin-right: 70px; 
        }
    }
}

&__container--top{
    @include mq (tablet-only){
    display: flex;
    justify-content: space-around;
    align-content: stretch;
    align-items: baseline;
    }
    @include mq(desktop){
        display: flex;
        align-items: baseline;
        }
    @include mq(not-desktop){
        margin-bottom: 60px;
        }
    
}
&__logo{
    display: block;
    margin-bottom: 20px;
}
&__span{
    color: var(--two-accent-color);
}
&__address{
    margin-bottom: 9px;
    font-style: normal;

    color: var(--two-accent-color);
}
&__address:hover,
&__address:focus{
    text-decoration:var(--accent-color);

}
&__contacts{
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
&__item:not(:last-child){
    margin-bottom: 9px; 
}
&__link{
    display: flex;
    flex-wrap: wrap;
   
    color: #ffffff60;
}                       
&__link:hover,
&__link:focus{
    color: var(--accent-color);
    text-decoration:var(--accent-color);
 
}
}
 /* footer-join */

 .footer-join{
    @include mq(not-desktop){
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

     
   
    }

&__subtitle {
    display: block;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 20px;

    color: var(--two-accent-color); 
}
&__social-network{
    display: flex;
    padding-left: 0;
    margin: 0;
}  
&__item:not(:last-child){
    margin-right: 10px;
}
&__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    background-color: #ffffff10;
    color: var(--two-accent-color);
    transition: 
    background-color
    var(--transition-timing)
    var(--transition-function);
}
&__link:hover, 
&__link:focus {
    background-color: var(--accent-color); 
}
&__svg{
    fill: currentColor;
}
 }

/* footer-email */

.footer-email{
    margin-left: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @include mq (not-desktop){
      text-align: center;
    }

&__form{
    display: flex;
    align-items: center;

    @include mq (not-desktop){
        flex-direction: column;
    }
}
&__label{
    @include mq (not-desktop){
        margin-bottom: 20px;
    }
}
&__input{
    
    height: 50px;
    font-size: 16px;
    line-height: 1.25;

  
    padding: 18px 15px;

    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: #2F303A;

    @include mq (mobile){
        width: 450px;
    }
    

    @include mq (desktop){
        width: 357px;
        margin-right: 12px;
    }
        
}
&__input:focus{
    padding: 18px 15px;
    color: var(--two-accent-color);
    border-color: var(--accent-color);
    outline: 0;
}
&__inputt:not(:focus){
    color: var(--two-accent-color);
}
&__button{
    display: flex;
    align-items: center;
    justify-content: center;
}
&__svg{
    margin-left: 10px;
}
}