
@include mq (tablet){
    .menu-mobile{
    display: none;
}
}
.menu-button{
    @include mq (tablet){
    display: none;
}
}

@include mq (mobile-only){

    
.menu-mobile{
    display: none;

    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    padding: 50px 40px;

    background-color: #ffffff;
    overflow-y: scroll ;

    transition-duration: 500ms;
    transition-timing-function: linear;

 

&.is-open{
 display: block;
}

}
.menu-button{
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

&:hover,
&:focus{
    fill: var(--accent-color);
}

&__close{
    
    position: absolute;

    top: 20px;
    right: 15px;

}
}
.menu-mobile-undressed{
    margin: 0;
    padding: 0;
    &__link{
        font-size: 40px;
        color: var(--two-text-color);
    }
    &__link:hover,
    &__link:focus{
        color: var(--accent-color);
    }
&__item:not(:last-child){
    margin-bottom: 32px;

}
}
.menu-mobile-connection-conteiner{
    margin-bottom: 64px;
}
.menu-mobile-connection{
    margin: 0;
    padding: 0;
    &__item:not(:last-child){
        margin-bottom: 32px;
    }
    &__tel{
        font-size: 34px;
        
        color: var(--accent-color);
    }
    &__mailto{
        font-size: 24px;
        color: var(--one-text-color);
    }
}
.menu-mobile-network{
    display: flex;
    padding: 0;
    margin: 0;

    &__item:not(:last-child){
    margin-right: 20px;
    
    }
    &__link{
    font-size: 18px;
    color: var(--accent-color);
    }
}



}