.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    
    transition-property: opacity, visibility;
    transition-duration: 500ms;
    transition-timing-function: linear;

&.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
    width: 450px;

    padding: 40px;

    background-color:var(--two-accent-color) ;
    border-radius: 4px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
   
    @include mq (desktop){
        width: 528px;
    }
&__button{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
   
    border: 1px solid #AFB1B8;
    border-radius: 50%;
    background-color: var(--two-accent-color);
    transition: border
    var(--transition-timing) 
    var(--transition-function);
}
&__button:hover,
&__button:focus{
    border: 1px solid var(--accent-color);
    outline: 0;
    color: var(--accent-color);
}
&__svg{
    fill: currentColor;        
    transition:
    var(--transition-timing) 
    var(--transition-function);
}
&__titel{
    display: block;
    margin-bottom: 12px;

    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;

    text-align: center;
    
    color: var(--two-text-color);
}
}
.forn-group{
&__label{
    display: block;
    margin-bottom: 10px;
    position: relative;
}
&__text{
    display: block;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 4px;
}
&__input{
    width: 100%;
    padding: 12px 42px;

    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: transparent;
}
&__input:focus{
    border-color: var(--accent-color);
}
&__input:focus + &__svg{
    fill: var(--accent-color);
}
&__input--textarea{
    resize: none;
    padding: 12px 16px;
   
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
}
&__svg{
    position: absolute;

    top: 29px;
    left: 12px;

    fill: var(--two-text-color);
}
&__button{
    margin-left: auto;
    margin-right: auto;
    box-shadow:
    0px 2px 1px rgba(0, 0, 0, 0.2),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
&__button:hover,
&__button:focus{
    background-color: #188CE8;
}
}

/* checkbox style */

.checkbox-group{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

&__custom{
    width: 16px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 7px;
    border: 2px solid var(--two-text-color);
    outline-offset: -2px;

    border-radius: 4px;

    transition:  background-color var(--transition-timing) var(--transition-function);
}
&__input:focus + &__custom{
    border-color: var(--accent-color);
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
&__input:checked + &__custom{
    background-color: var(--accent-color);
    outline: 0;
    border: var(--accent-color);
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
&__input:checked + &__custom &__svg{
    opacity: 1;
}
&__svg{
    opacity: 0;

    transform: opacity var(--transition-timing) var(--transition-function);
}
&__agreements{
    font-weight: 400;
    line-height: 1.7;
}
@include mq (mobile-only){
    &__agreements{
    font-size: 12px;
}
}
&__conditions{
    color: var(--accent-color);
}
}