.header__container{
    border-bottom: 1px solid #ECECEC;
 
.nav{ 
    display: flex;
    align-items: center;
    }  
    @include mq(mobile-only){
       
        justify-content: space-between;
        width: 100%;
    }
}
.paig-header{
    padding: 0;

    background-color: var(--two-accent-color);

&__logo{
    padding-top: 25px;
    padding-bottom: 25px; 
    margin-right: 95px;
    
    @include mq (mobile-only){
        margin-right: 0; 
    }
}
}
.menu-container{
    @include mq (mobile-only){
        display: none;
    }
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    }
.site-nav{
    display: flex;
    margin-top: 0;
    margin-bottom: 0;

    padding-left: 0;
    
&__item:not(:last-child){
    margin-right: 50px;
}
&__link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    color: var(--two-text-color);
    transition: color
    var(--transition-timing)
    var(--transition-function);
}
&__link:hover,
&__link:focus{
    color:var(--accent-color);
    text-decoration:var(--accent-color);
}

&__link.current{
    color: var(--accent-color);
}

&__link.current::after{
    position: absolute;
    bottom:-1px;
    left: 0;

    content: ' ';
    display: block;
    width: 100%;
    height: 4px;

    background-color: var(--accent-color);
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
}
.auth-nav{
    display: flex;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  

    @include mq(tablet-only){
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        
        &__item:not(:last-child){
            margin-bottom: 10px;
        }

       
    }
    @include mq(desktop){
    &__item:not(:last-child){
        margin-right: 30px;
        }   
    }

&__link{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    
    padding-top: 32px;
    padding-bottom: 32px;

    color:var(--one-text-color);
    transition: color
    var(--transition-timing)
    var(--transition-function);

    @include mq(tablet-only){
   
        padding: 0;
    }   
    }
&__link:hover,
&__link:focus{
    color: var(--accent-color);
    text-decoration:var(--accent-color);
}

&__svg{
    margin-right: 10px;
    fill: currentColor;
}
}