.portfolio{

&__jumper{
    display: flex;
    
    margin-top: 0;
    margin-bottom: 50px;
    padding-left: 0;

    @include mq (mobile-only){
        flex-wrap: wrap;
        width: 365px;  
    }
    @include mq (tablet){
        justify-content: center;

    }
    
}
&__item{
    margin-right: 8px; 
    
}
@include mq (mobile-only){
&__item:nth-child(-n + 3){
    margin-bottom: 15px;
}
}
&__item:last-child{
    margin-right: 0;
}
&__navigation{
    padding: 8px 22px;
   
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;

    border: none;
    border-radius: 4px;

    color: var(--two-text-color);
    background-color: #F5F4FA;

    transition: box-shadow  
    var(--transition-timing)
    var(--transition-function), 
    color  
    var(--transition-timing)
    var(--transition-function), 
    background-color
    var(--transition-timing)
    var(--transition-function);

}
&__navigation:hover,
&__navigation:focus {
    color: var(--two-accent-color);
    background-color: var(--accent-color);

    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);    
   }       

&__portfolio-job{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

    padding-left: 15px;
    padding-right: 15px;
}
}
/* portfolio-job */

.portfolio-job{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    justify-content: center;
    
    margin-top: -30px;
    
 @include mq (tablet-only){
        justify-content: flex-start;
        }

@include mq (mobile-only){
    &__item:not(:last-child){
        margin-bottom: 30px;
    }
   
}
@include mq (tablet-only){
    &__item{
        flex-basis: calc(100% / 2 - 30px);
        margin-right: 30px;
        margin-top: 30px;
    }
    &__item:nth-of-type(2n){
        margin-right: 0;
    }
    &__item:nth-last-child(-n + 2){
        margin-bottom: 0;
    }
    }

@include mq (desktop){
    &__item{
        flex-basis: calc(100% / 3 - 30px);
        margin-right: 30px;
        margin-top: 30px;
    }
    &__item:nth-of-type(3n){
        margin-right: 0;
    }
    &__item:nth-last-child(-n + 3){
        margin-bottom: 0;
    }
    }
// &__img{
//     display: block;
//     max-width: 100%;
//     height: auto;
// }
&__text-block{
    padding: 20px 24px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}
&__title{
    font-size: 18px;
    line-height: 2;
    margin-bottom: 4px;
}
&__text{
    text-align: left;
    color: var(--one-text-color)
}


&__scrolling{
    position: relative;
    overflow: hidden;
}
&__link{
    display: inline-block;
    transition: 
    box-shadow
    var(--transition-timing)
    var(--transition-function);  
}
&__link:hover,
&__link:focus{
   box-shadow: 
   1px 4px 6px rgba(0, 0, 0, 0.16),
   0px 4px 4px rgba(0, 0, 0, 0.06),
   0px 1px 1px rgba(0, 0, 0, 0.12);
   }   
&__link:hover .portfolio-scrolling__text,
&__link:focus .portfolio-scrolling__text {
  transform: translateY(0);
  opacity: 1;
}
}
.portfolio-scrolling__text{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    margin: 0;

    font-size: 18px;
    line-height: 1.55;

    color: #fff;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(101%);  
    transition: 
    transform
    500ms
    var(--transition-function); 
}