.body{
   
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;

    color: var(--one-text-color);
} 

body {
    &.is-modal-shown,  
    &.is-menu-shown {
        overflow: hidden;  
    }
}