.container{
    padding-left: 15px;
    padding-right: 15px;

    margin-left: auto;
    margin-right: auto;

     @include mq (tablet-only) {
         width: 768px;
     }
    
     @include mq (desktop) {
        width: 1200px;
     }
}
.header__container{
  
    padding-left: 15px;
    padding-right: 15px;
    
    margin-left: auto;
    margin-right: auto;

        @include mq (mobile) {
            width: 480px;
        }
     
        @include mq (tablet) {
            width: 768px;
        }
     
        @include mq (desktop) {
            width: 1200px;
        }
    
}


// .benefits,
.distribution,
.team,
.clients,
.portfolio
{
     padding-top: 60px;
     padding-bottom: 60px;

 @include mq (desktop) {
  
    padding-top: 94px;
    padding-bottom: 94px;
    
 }
}
.footer{
         padding-top: 60px;
         padding-bottom: 60px;
         background-color:  #2F303A;
    
    }
.benefits{
    padding-top: 60px;
    padding-bottom: 60px;
    @include mq (desktop){
        padding-bottom: 0px;
    }
}



