// .item{
//     margin-right: 30px;
// }
// .item:last-child{
//     margin-right: 0;
// }
.title {
    font-weight: 700;
   
    color: var(--two-text-color);
}
.text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
}

.span {
    color: var(--two-text-color);
}
.subtitle{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
    text-align: center;

    margin-top: 0;
    margin-bottom: 50px;

    color: var(--two-text-color);
}