// .item{
//     @include mq (mobile-only) {
//         &:not(:last-child){
//             margin-bottom: 30px;
//         }
//     }
//     @include mq (tablet-only){
//         flex-basis: calc(100% / 2 - 30px);
//          margin: 15px;  
//      }
 
//     @include mq (desktop){
//         &:not(:last-child){
//         margin-right: 30px;
//         }
//     }

// }
.title {
    font-weight: 700;
   
    color: var(--two-text-color);
}
.text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
}

.span {
    color: var(--two-text-color);
}
.subtitle{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
    text-align: center;

    margin-top: 0;
    margin-bottom: 50px;

    color: var(--two-text-color);
}